body {
    background-color: lightgreen;
}

h1 {
    text-align: center;
}

img {
    border-radius: 15px;
    margin-top: 10px;
    border: 2px solid white;
    margin: 20px;
}

h2 {
    text-align: center;
    color: green;
    font-size: 90px;
    margin-top: 40px;
    background-color: white;
}

h3 {
    text-align: center;
    color: darkgreen;
    font-size: 20px;
    margin-top: 20px;
}

button {
    margin: 30px auto;
    padding: 20px 130px;
    font-size: 70px;
    background-color: white;
    color: black;
    border: 2px solid green;
    border-radius: 20px;
}

h4 {
    text-align: center;
    color: darkgreen;
    font-size: 30px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-weight: bold;
    margin-left: 200px;
}
